<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/business.png" alt="Work Experience" width="50" height="50"></p>
    <p align="left"><strong>Assistant Professor (S.G.)</strong> at <i>Department of Computer Science and Engineering</i>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University</a>, Vijayawada (September 2025 - Present).</p>  
    <p align="left"><strong>Assistant Professor</strong> at <i>Department of Computer Science and Engineering</i>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University (formerly VR Siddhartha Engineering College)</a>, Vijayawada (January 2020 - August 2025).</p>
    <p align="left"><strong>Research Intern</strong> at <i>Information and Communications Research Laboratories</i>, <a href="https://www.itri.org.tw/english/" target="_blank">Industrial Technology Research Institute</a>, Taiwan (June 2017 - August 2017).</p>  
    <p align="left"><strong>Teaching and Research Assistant</strong> in <i>School of Computer Science and Engineering</i>, <a href="http://chennai.vit.ac.in/" target="_blank">VIT University</a> (July 2016 - December 2018).</p>
    <p align="left"><strong>Research Associate</strong> in <i>School of Computer Science and Engineering</i>, <a href="http://chennai.vit.ac.in/" target="_blank">VIT University</a> (July 2014 - June 2016).</p>
    <p align="left" class="bottom-three"><strong>Lecturer</strong> at <i>Department of Information Technology</i>, <a href="https://outr.ac.in/" target="_blank">Odisha University of Technology and Research</a> (formerly, College of Engineering and Technology), Bhubaneswar (July 2013 -  December 2013).</p>
      
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/admin2.png" alt="Administrative Roles" width="50" height="50"></p>
    <p align="left"><strong>Institutional Website In Charge - R&D</strong>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University</a>, Vijayawada (January 2026 - Present).</p>
    <p align="left"><strong>R&D Coordinator</strong>, <i>Department of Computer Science and Engineering</i>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University</a>, Vijayawada (July 2022 - Present).</p>
    <p align="left"><strong>NIRF Coordinator</strong>, <i>Department of Computer Science and Engineering</i>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University</a>, Vijayawada (July 2022 - Present).</p>
    <p align="left"><strong>UG/PG Project In Charge</strong>, <i>Department of Computer Science and Engineering</i>, <a href="https://siddhartha.edu.in/" target="_blank">SAHE Deemed to be University</a>, Vijayawada (July 2022 - December 2024).</p><br>

      
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/study2.png" alt="Education" width="50" height="50"></p>
    <p align="left"><strong>Ph.D.</strong> from School of Computer Science and Engineering, <a href="http://chennai.vit.ac.in/" target="_blank">VIT University</a> (July 2022).</p>
    <p align="left"><strong>M. Tech.</strong> in Information Security and Computer Forensics from <a href="http://www.srmuniv.ac.in/" target="_blank">SRM University</a> (May 2013).</p>
    <p align="left" class="bottom-three"><strong>B. Tech.</strong> in Computer Science and Engineering from <a href="http://www.bput.ac.in/" target="_blank">BPUT-Rourkela</a> (May 2011).</p>

    <!--
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="50" height="50"></p>
    <p align="left"><strong>Operating Systems:-</strong> Windows Server 2022, Ubuntu 20.04 and MS DOS.</p>
    <p align="left"><strong>Languages and Libraries:-</strong> C, C++, Python, OpenCL, OpenCV, Keras and LaTeX.</p>
    <p align="left" class="bottom-three"><strong>IDEs and Platforms:-</strong> Anaconda, MS Visual Studio, MATLAB and Nvidia Deep Cognition Studio.</p>
    -->

  
    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/computer2.png" alt="Computer Skills" width="50" height="50"></p>
    <p align="left"><strong>Courses Taught: </strong> C, Python, Data Structures, Advanced Data Structures, Design and Analysis of Algorithms, Exploratory Data Analysis, Data Visualization, Computer Graphics, Business Intelligence and Data Visualization.</p>
    </br>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/world.png" alt="Languages" width="50" height="50"></p>
    <p align="left"><i>Professional Member</i>, Association for Computing Machinery, India (From 2021)</p>
    <p align="left"><i>Member IEEE</i>, <i>Member</i> (IEEE SMC, IEEE Pre-University STEM Community) (From 2025)</p>
    <p align="left" class="bottom-three"><i>Associate Member</i>, Institution of Engineers, India (Lifetime)</p>

    <p align="center" class=bottom-small><img src="{{ site.url }}/images/CV/talk.png" alt="Languages" width="50" height="50"></p>
    <p align="left" class="bottom-three">Full professional proficiency in <strong>English</strong> (<i>India's first official language</i>), bilingual proficiency in <strong>Hindi</strong> (<i>India's second official language</i>).<strong> Odia</strong> (<i>is my mother tongue</i>).</p>
     
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
