<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}



<h3 style="margin-bottom:0px;padding-top:10px;">Projects and Grants</h3>
<ul class="biblist">

<!-- Item: a -->
<li ><p>
A. Satapathy (PI)
<br><b>Development of an IoT-enabled River Cleaning Robot for Removal of Floating Debris</b><br>
<i>A Development of an IoT-enabled river cleaning robot designed to autonomously detect and remove floating debris, improving water quality and environmental sustainability through real-time monitoring and efficient operation.</i>
<br/>
(A grant worth Rs. 2 Lakhs under the AICTE AURA Scheme, Duration: 2 Yrs.: 2024-26)<br/>
</p>
</li>  
	
<!-- Item: b -->
<li ><p>
A. Satapathy (PI)
<br><b>An Intelligent Virtual Classroom Framework for Monitoring Behavior of Students Using Deep Learning Techniques</b><br>
<i>A secure framework for the virtual classroom is being developed to not only continuously monitor students’ activities but also the number of minutes and hours spent by each student and to provide security against insecure and unauthorized logins.</i>
<br/>
(A grant worth Rs. 1.98 Lakh from Siddhartha Academy of General and Technical Education, Vijayawada, Duration- 3 Yrs.: 2023-25)<br/>
</p>
</li> 
</ul>
	    
<h3 style="margin-bottom:0px;padding-top:10px;">Student Fellowships</h3>
<ul class="biblist">

<!-- Item: ashutosh2023asda -->
<li ><p>
A. Satapathy (Supervisor)<br/>
D. Neelima and D. Naresh (Chanakya UG Fellows)
<br><b><a href = https://drive.google.com/file/d/1quw7ysJAMrLxFPXYhoWY8arEXY0DYzqp/view?usp=sharing>Transparent Identification and Severity Assessment of Human Moneypox Blisters Using a Multimodal Deep Neural Network with Explainable AI</a></b><br>
<i>A multimodal DNN empowers with Explainable AI techniques for accurate and interpretable identification of Monkeypox blisters in human skin images and with severity assessment.</i>
<br/>
(Chanakya Undergraduate Fellowship Supported by iHub Anubhuti-IIITD Foundation, Duration- 10 mos.: Oct. 2023 - Jul. 2024)<br/>
</p>
</li> 
<!-- Item: ashutosh2024asda -->
<li ><p>
A. Satapathy (Supervisor)<br/>
T. Kokila and P. Kalyani (Chanakya UG Fellows)
<br><b><a href = https://drive.google.com/file/d/19G-goh51EyV2c4pil65n1wLbLENBSR1i/view?usp=sharing>A Decision-Making System Based on GIS for Urban Rainwater Drainage Network Integration in Chennai City</a></b><br>
<i>A decision-making system utilizing Geographic Information Systems (GIS) to integrate urban rainwater drainage networks in Chennai City, enhancing management and resilience against flooding.</i>
<br/>
(Chanakya Undergraduate Fellowship Supported by IIT Tirupati Navavishkar I-Hub Foundation (IITTNiF), Duration- 7 mos.: Feb. 2024 - Aug. 2024)<br/>
</p>
</li> 
<!-- Item: ashutosh2024asdb -->
<li ><p>
A. Satapathy (Supervisor)<br/>
K. Gopi Sri Harsha and S. Altaf Hussain (Chanakya UG Fellows)
<br><b><a href = https://drive.google.com/file/d/16OelZPmDgAkq3Rm8ddrdUEtYb_lo5i3E/view?usp=sharing>Optimizing Traffic Signals Through Adaptive Control and Timely Updates for Efficient Urban Navigation</a></b><br>
<i>Optimizing traffic signals through adaptive control mechanisms and timely updates to enhance urban navigation efficiency, mitigating congestion and improving overall traffic flow management.</i>
<br/>
(Chanakya Undergraduate Fellowship Supported by IIT Tirupati Navavishkar I-Hub Foundation (IITTNiF), Duration- 7 mos.: Feb. 2024 - Aug. 2024)<br/>
</p>
</li> 
<!-- Item: ashutosh2024asdc -->
<li ><p>
A. Satapathy (Supervisor)<br/>
M. Jaswanthi, Ch. Chandrika, S. Vyshnavi and Ch. Prasanna (Chanakya UG Fellows)
<br><b><a href = https://drive.google.com/file/d/13sQRtM0qizniC8MblsvJO0GDfSY5kPOO/view?usp=sharing>An AI-Driven Healthcare Chatbot with IoMT integration for Remote Health Assistance Using a Large Language Model</a></b><br>
<i>An AI-driven healthcare chatbot integrates IoMT for remote health monitoring and assistance. It leverages a Large Language Model to provide real-time medical guidance and personalized recommendations.</i>
<br/>
(Chanakya Undergraduate Fellowship Supported by IIT (BHU) I-DAPT Hub Foundation, Duration- 10 mos.: Jan. 2024 - Oct. 2024)<br/>
</p>
</li> 
</ul>

<h3 style="margin-bottom:0px;padding-top:10px;">Internships Projects</h3>
<ul class="biblist">
 Soon...
</ul>
	    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
