<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}



<h3 style="margin-bottom:0px;padding-top:10px;">Journals</h3>
<ul class="biblist">

<!-- Item: satapathy2025evaluating -->
<li ><p>
 A. Satapathy, D. Neelima, and N. Dukka<br><b>Evaluating Felzenszwalb and Quick Shift Integrated Graph Neural Networks for Monkeypox Blister Segmentation</b><br>
<i>Al-Nahrain Journal of Science (ANJS)</i>,
vol. 28,
no. 4,
pp. 207 - 225,
2025.
<br />
<a href="javascript:toggleBibtex('satapathy2025evaluating')">[BibTeX]</a>
<a href="https://anjs.edu.iq/index.php/anjs/article/view/2958" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_satapathy2025evaluating" class="bibtex noshow">
<pre>
@article{satapathy2025semantic,
  title={Evaluating Felzenszwalb and Quick Shift Integrated Graph Neural Networks for Monkeypox Blister Segmentation},
  author={Satapathy, Ashutosh and Neelima, Duda and Dukka, Naresh},
  journal={Al-Nahrain Journal of Science (ANJS)},
  volume={28},
  number={4},
  pages={207--225},
  year={2025}
}
</pre>
</div>
</li>

<!-- Item: satapathy2025semantic -->
<li ><p>
 A. Satapathy, P. Vallabhaneni, and M. Indugula<br><b>Semantic Segmentation of Tuberculosis Bacilli from Microscopic Sputum Smear Images Using TransUNet</b><br>
<i>International Journal of Image, Graphics and Signal Processing (IJIGSP)</i>,
vol. 17,
no. 6,
pp. 19 - 37,
2025.
<br />
<a href="javascript:toggleBibtex('satapathy2025semantic')">[BibTeX]</a>
<a href="https://www.mecs-press.org/ijigsp/ijigsp-v17-n6/v17n6-2.html" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_satapathy2025semantic" class="bibtex noshow">
<pre>
@article{satapathy2025semantic,
  title={Semantic Segmentation of Tuberculosis Bacilli from Microscopic Sputum Smear Images Using TransUNet},
  author={Satapathy, Ashutosh and Vallabhaneni, Praneeth and Indugula, Manisha},
  journal={International Journal of Image, Graphics and Signal Processing (IJIGSP)},
  volume={17},
  number={6},
  pages={19--37},
  year={2025}
}
</pre>
</div>
</li>
	
<!-- Item: sai2025fuzzy -->
<li ><p>
 G. Sai Varshitha, S. Charan, D. Rajeswara Rao, G. Akhila, and A. Satapathy<br><b>A Fuzzy Inference System for Disease Diagnosis Through Blood Report Analysis</b><br>
<i>International Journal of Microsystems and IoT</i>,
vol. 2,
no. 12,
pp. 1461 - 1472,
2025.
<br />
<a href="javascript:toggleBibtex('sai2025fuzzy')">[BibTeX]</a>
<a href="https://www.ijmit.org/Photo/IJMIT20250652R1_Pub.pdf" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_sai2025fuzzy" class="bibtex noshow">
<pre>
@article{sai2025fuzzy,
  title={A Fuzzy Inference System for Disease Diagnosis Through Blood Report Analysis},
  author={Sai Varshitha, G., A. Sai, C., D. Rajeswara, R., Akhila, G. and Ashutosh, S.},
  journal={International Journal of Microsystems and IoT},
  volume={2},
  number={12},
  pages={1461--1472},
  year={2025},
  publisher={Indian Society for VLSI Education}
}
</pre>
</div>
</li>
	
<!-- Item: satapathy2023lightweight -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>A lightweight convolutional neural network built on inceptio-residual and reduction modules for deep facial recognition in realistic conditions</b><br>
<i>The Imaging Science Journal</i>,
vol. 71,
no. 1,
pp. 14 - 32,
2023.
<br />
<a href="javascript:toggleBibtex('satapathy2023lightweight')">[BibTeX]</a>
<a href="https://www.tandfonline.com/doi/abs/10.1080/13682199.2023.2176735" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_satapathy2023lightweight" class="bibtex noshow">
<pre>
@article{satapathy2023lightweight,
  title={A lightweight convolutional neural network built on inceptio-residual and reduction modules for deep facial recognition in realistic conditions},
  author={Satapathy, Ashutosh and Livingston, LM},
  journal={The Imaging Science Journal},
  volume={71},
  number={1},
  pages={14--32},
  year={2023},
  publisher={Taylor & Francis}
}
</pre>
</div>
</li>
	
<!-- Item: ashutosh2021a -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>A lite convolutional neural network built on permuted Xceptio-inception and Xceptio-reduction modules for texture based facial liveness recognition</b><br>
<i>Multimedia Tools and Applications</i>,
vol. 80,
no. 7,
pp. 10441 - 10472,
2021.
<br />
<a href="javascript:toggleBibtex('ashutosh2021a')">[BibTeX]</a>
<a href="https://link.springer.com/article/10.1007/s11042-020-10181-4" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_ashutosh2021a" class="bibtex noshow">
<pre>
@article{satapathy2021lite,
  title={A lite convolutional neural network built on permuted Xceptio-inception and Xceptio-reduction modules for texture based facial liveness recognition},
  author={Satapathy, Ashutosh and Livingston, LM},
  journal={Multimedia Tools and Applications},
  volume={80},
  number={7},
  pages={10441--10472},
  year={2021},
  publisher={Springer}
}
</pre>
</div>
</li>
	
<!-- Item: ashutosh2019a -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>Optimized OpenCL™ kernels for frequency domain image high-boost filters using image vectorization technique</b><br>
<i>SN Applied Sciences</i>,
vol. 1,
no. 11,
pp. 1 - 20,
2019.
<br />
<a href="javascript:toggleBibtex('ashutosh2019a')">[BibTeX]</a>
<a href="https://link.springer.com/article/10.1007/s42452-019-1445-9" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_ashutosh2019a" class="bibtex noshow">
<pre>
@article{satapathy2019optimized,
  title={Optimized OpenCL™ kernels for frequency domain image high-boost filters using image vectorization technique},
  author={Satapathy, Ashutosh and Livingston, LM},
  journal={SN Applied Sciences},
  volume={1},
  number={11},
  pages={1--20},
  year={2019},
  publisher={Springer}
}
</pre>
</div>
</li>
	
<!-- Item: ashutosh2018b -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>An Intelligent Framework Prototype for Monitoring Students in Virtual Classroom</b><br>
<i>Indonesian Journal of Electrical Engineering and Computer Science</i>,
vol. 12,
no. 3,
pp. 3983 - 3987,
2018.
<br />
<a href="javascript:toggleBibtex('ashutosh2018b')">[BibTeX]</a>
<a href="http://ijeecs.iaescore.com/index.php/IJEECS/article/view/11017" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_ashutosh2018b" class="bibtex noshow">
<pre>
@article{satapathy2018j,
  title={An intelligent framework prototype for monitoring students in virtual classroom},
  author={Satapathy, Ashutosh and Livingston, LM},
  journal={Indonesian Journal of Electrical Engineering and Computer Science},
  volume={12},
  number={3},
  pages={1151--1158},
  year={2018}
}
</pre>
</div>
</li>
	
<!-- Item: ashutosh2018a -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>A Denial of Service Attack on DHCP Server and Its Countermeasures</b><br>
<i>ARPN Journal of Engineering and Applied Sciences</i>,
vol. 13,
no. 12,
pp. 3983 - 3987,
2018.
<br />
<a href="javascript:toggleBibtex('ashutosh2018a')">[BibTeX]</a>
<a href="http://www.arpnjournals.org/jeas/research_papers/rp_2018/jeas_0618_7158.pdf" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_ashutosh2018a" class="bibtex noshow">
<pre>
@article{satapathy2006denial,
  title={A DENIAL OF SERVICE ATTACK ON DHCP SERVER AND ITS COUNTERMEASURES},
  author={Satapathy, Ashutosh and LM, Jenila Livingston},
  year = {2018},
  volume = {13},
  number = {12},
  pages = {3983--3987}
}
</pre>
</div>
</li>

<!-- Item: ashutosh2016b -->
<li ><p>
A. Satapathy and L.M.J. Livingston<br><b>A Comprehensive Survey on SSL/ TLS and their Vulnerabilities</b><br>
<i>International Journal of Computer Applications (IJCA)</i>,
vol. 153,
no. 5,
pp. 31 - 38,
2016.
<br />
<a href="javascript:toggleBibtex('ashutosh2016b')">[BibTeX]</a>
<a href="https://www.ijcaonline.org/archives/volume153/number5/satapathy-2016-ijca-912063.pdf" target="_blank">[Read Online]</a>										    
</p>
<div id="bib_ashutosh2016b" class="bibtex noshow">
<pre>
@article{satapathy2016comprehensive,
  title={A Comprehensive Survey on SSL/TLS and their Vulnerabilities},
  author={Satapathy, Ashutosh and Livingston, J},
  journal={International Journal of Computer Applications},
  volume={153},
  number={5},
  pages={31--38},
  year={2016},
  publisher={Foundation of Computer Science}
}
</pre>
</div>
</li>


    <!-- Item: ashutosh2016a -->
    <li ><p>
    A. Satapathy and L.M.J. Livingston
    <br><b>A Comprehensive Survey of Security Issues and Defense Framework for VoIP Cloud</b><br>
<i>Indian Journal of Science and Technology (IJST)</i>,
vol. 9,
no. 6,
pp. 1 - 13,
2016.

<br />
    <a href="javascript:toggleBibtex('ashutosh2016a')">[BibTeX]</a>
    <a href="https://indjst.org/articles/a-comprehensive-survey-of-security-issues-and-defense-framework-for-voip-cloud" target="_blank">[Read Online]</a> 
</p>
<div id="bib_ashutosh2016a" class="bibtex noshow">
<pre>
@article{satapathy2016comprehensive,
  title={A comprehensive survey of security issues and defense framework for VoIP cloud},
  author={Satapathy, Ashutosh and Livingston, LM Jenila},
  journal={Indian Journal of Science and Technology},
  volume={9},
  number={6},
  pages={1--13},
  year={2016}
}
</pre>
</div>
</li>


<!-- Item: ashutosh2013 -->
<li ><p>
A. Satapathy, J.C. Badajena and C. Rout
<br><b>A Secure Model and Algorithms for Cloud Computing Based on Multicloud Service Providers</b><br>
<i>International Journal of Engineering Research & Technology (IJERT)</i>,
vol. 2,
no. 12,
pp. 1967-1972,
2013.

<br />
<a href="javascript:toggleBibtex('ashutosh2013')">[BibTeX]</a>
<a href="https://www.ijert.org/research/a-secure-model-and-algorithms-for-cloud-computing-based-on-multicloud-service-providers-IJERTV2IS120405.pdf" target="_blank">[Read Online]</a>  
</p>
<div id="bib_ashutosh2013" class="bibtex noshow">
<pre>
@article{satapathy2013secure,
  title={A Secure Model and Algorithms for Cloud Computing based on Multicloud Service Providers},
  author={Satapathy, Ashutosh and Badajena, J Chandrakant and Rout, Chinmayee},
  journal={International Journal of Engineering Research \& Technology (IJERT)},
  volume={2},
  number={12},
  year={2013}
}
</pre>
</div>
</li>  
      </ul  >

<h3 style="margin-bottom:0px;padding-top:10px;">Book Chapters</h3>
<ul class="biblist">

<!-- Item: satapathy2025segmentation -->
<li ><p>
A. Satapathy, T. Kokila, and P. Kalyani
<br><b>Segmentation of Water Bodies in Chennai Using SegFormer</b><br>
<i>International Conference on Computing and Communication Systems for Industrial Applications</i>,
LNNS Springer,
pp. 261-274,
2025.
<br />
<a href="javascript:toggleBibtex('satapathy2025segmentation')">[BibTeX]</a>
<a href= "https://link.springer.com/chapter/10.1007/978-981-96-8350-5_18" target="_blank">[Read Online]</a>
</p>
<div id="bib_satapathy2025segmentation" class="bibtex noshow">
<pre>
@inproceedings{satapathy2025segmentation,
  title={Segmentation of Water Bodies in Chennai Using SegFormer},
  author={Satapathy, Ashutosh and Kokila, Thottempudi and Kalyani, Polukonda},
  booktitle={International Conference on Computing and Communication Systems for Industrial Applications},
  pages={261--274},
  year={2025},
  organization={Springer}
}
</pre></div>

</li>

<!-- Item: chowdary2025ai -->
<li ><p>
S. V. P. Chowdary, A. S. Charan, A. Satapathy, C. S. S. Prasanna and K. Thottempudi
<br><b>An AI-Powered Chatbot Using a Transformer-Based Language Model for Graduate Educational Schemes Recommendation</b><br>
<i>Technological Innovations for Sustainable Development</i>,
LNISO Springer,
pp. 184-196,
2025.
<br />
<a href="javascript:toggleBibtex('chowdary2025ai')">[BibTeX]</a>
<a href= "https://link.springer.com/chapter/10.1007/978-3-032-06725-8_16" target="_blank">[Read Online]</a>
</p>
<div id="bib_chowdary2025ai" class="bibtex noshow">
<pre>
@inproceedings{chowdary2025ai,
  title={An AI-Powered Chatbot Using a Transformer-Based Language Model for Graduate Educational Schemes Recommendation},
  author={Chowdary, Sandireddy Vyshnavi Prasad and Charan, Atluri Sai and Satapathy, Ashutosh and Prasanna, Chinnam Sri Sai and Thottempudi, Kokila},
  booktitle={Lecture Notes in Information Systems and Organization},
  pages={184--196},
  year={2025},
  organization={Springer}
}
</pre></div>

</li>

<!-- Item: rao2024comparative -->
<li ><p>
D. Rajeswara Rao, J. Machcha, C. Chagamreddy and A. Satapathy
<br><b>A Comparative Analysis of XGBoost and LSTM Models for Monthly Vegetable Price Prediction in Krishna District of Andhra Pradesh</b><br>
<i>Micro-electronics and Telecommunication Engineering</i>,
LNNS Springer,
pp. 575-587,
2025.
<br />
<a href="javascript:toggleBibtex('rao2024comparative')">[BibTeX]</a>
<a href= "https://link.springer.com/chapter/10.1007/978-981-96-6515-0_41" target="_blank">[Read Online]</a>
</p>
<div id="bib_rao2024comparative" class="bibtex noshow">
<pre>
@inproceedings{rao2024comparative,
  title={Comparative Analysis of XGBoost and LSTM Models for Monthly Vegetable Price Prediction in Krishna District of Andhra Pradesh},
  author={Rao, D Rajeswara and Machcha, Jaswanthi and Chagamreddy, Chandrika and Satapathy, Ashutosh},
  booktitle={International Conference on Micro-Electronics and Telecommunication Engineering},
  pages={575--587},
  year={2025},
  organization={Springer}
}
</pre></div>

</li>
	
<!-- Item: katarapu2023development -->
<li ><p>
D. Katarapu, A. Satapathy, M. Sowmya and S. Busi
<br><b>Development and Evaluation of a Student Location Monitoring System Based on GSM and GPS Technologies</b><br>
<i>Innovative Computing And Communication</i>,
LNNS Springer,
pp. 611-624,
2023.
<br />
<a href="javascript:toggleBibtex('katarapu2023development')">[BibTeX]</a>
<a href= "https://link.springer.com/chapter/10.1007/978-981-99-4071-4_47" target="_blank">[Read Online]</a>
</p>
<div id="bib_katarapu2023development" class="bibtex noshow">
<pre>
@inproceedings{katarapu2023development,
  title={Development and Evaluation of a Student Location Monitoring System Based on GSM and GPS Technologies},
  author={D. Katarapu, A. Satapathy, M. Sowmya and S. Busi},
  booktitle={International Conference On Innovative Computing And Communication},
  pages={611--624},
  year={2023},
  organization={Springer}
}
</pre></div>

</li>
<!-- Item: ahmed2023hybrid -->
<li ><p>
M. J. Ahmed, A. Satapathy, Ch. R. Madhuri, K Y. Chowdary and A. N. Sai
<br><b>A Hybrid Model Built on VGG16 and Random Forest Algorithm for Land Classification</b><br>
<i> Inventive Systems and Control</i>,
LNNS Springer,
pp. 267-280,
2023.
<br />
<a href="javascript:toggleBibtex('ahmed2023hybrid')">[BibTeX]</a>
<a href= "https://link.springer.com/chapter/10.1007/978-981-99-1624-5_20" target="_blank">[Read Online]</a>
</p>
<div id="bib_ahmed2023hybrid" class="bibtex noshow">
<pre>
@inproceedings{ahmed2023hybrid,
  title={A Hybrid Model Built on VGG16 and Random Forest Algorithm for Land Classification},
  author={M. J. Ahmed, A. Satapathy, Ch. R. Madhuri, K Y. Chowdary and A. N. Sai},
  booktitle={Inventive Systems and Control: Proceedings of ICISC 2023},
  pages={267--280},
  year={2023},
  organization={Springer}
}
</pre></div>

</li>

<!-- Item: ashutosh2021bc -->
<li ><p>
A. Satapathy and L.M.J. Livingston
<br><b>OpenCL™ Implementation of Rapid Image Restoration Kernels Based on Blind/Non-blind Deconvolution Techniques for Heterogeneous Parallel Systems</b><br>
<i>Microelectronics, Computing and Communication Systems</i>,
LNEE Springer,
pp. 817-847,
2021.
<br />
<a href="javascript:toggleBibtex('ashutosh2021bc')">[BibTeX]</a>
<a href= "https://www.springerprofessional.de/en/opencltm-implementation-of-rapid-image-restoration-kernels-based/19649358" target="_blank">[Read Online]</a>
</p>
<div id="bib_ashutosh2021bc" class="bibtex noshow">
<pre>
@inproceedings{satapathy2021opencltm,
  title={OpenCLTM Implementation of Rapid Image Restoration Kernels Based on Blind/Non-blind Deconvolution Techniques for Heterogeneous Parallel Systems},
  author={Satapathy, Ashutosh and Livingston, LM},
  booktitle={Proceeding of Fifth International Conference on Microelectronics, Computing and Communication Systems},
  pages={817--847},
  year={2021},
  organization={Springer}
}
</pre></div>

</li>

<!-- Item: ashutosh2021bb -->
<li ><p>
A. Satapathy and L.M.J. Livingston
<br><b>OpenCL™ Implementation of Fast Frequency Domain Image Denoisification Kernels for Parallel Environments</b><br>
<i>Nanoelectronics, Circuits and Communication Systems</i>,
LNEE Springer,
pp. 569-611,
2021.
<br />
<a href="javascript:toggleBibtex('ashutosh2021bb')">[BibTeX]</a>
<a href="https://www.springerprofessional.de/en/opencltm-implementation-of-fast-frequency-domain-image-denoisifi/18595632" target="_blank">[Read Online]</a>
</p>
<div id="bib_ashutosh2021bb" class="bibtex noshow">
<pre>
@incollection{satapathy2021opencl,
  title={OpenCLTM Implementation of Fast Frequency Domain Image Denoisification Kernels for Parallel Environments},
  author={Satapathy, Ashutosh and Jenila Livingston, LM},
  booktitle={Nanoelectronics, Circuits and Communication Systems},
  pages={569--611},
  year={2021},
  publisher={Springer}
}
</pre></div>

</li>

<!-- Item: ashutosh2021ba -->
<li ><p>
L.M.J. Livingston, A. Satapathy, L.G.X.A. Livingston and L.M.M. Livingston
<br><b>Blockchain Security Using Secure Multi-Party Computation</b><br>
<i>Opportunities and Challenges for Blockchain Technology in Autonomous Vehicles</i>,
IGI Global,
pp. 178-195,
2021.
<br />
<a href="javascript:toggleBibtex('ashutosh2021ba')">[BibTeX]</a>
<a href="https://www.igi-global.com/chapter/blockchain-security-using-secure-multi-party-computation/262702#:~:text=In%20secure%20multi%2Dparty%20computation,compromising%20data%20security%20and%20privacy." target="_blank">[Read Online]</a>
</p>
<div id="bib_ashutosh2021ba" class="bibtex noshow">
<pre>
@incollection{lm2021blockchain,
  title={Blockchain Security Using Secure Multi-Party Computation},
  author={LM, Jenila Livingston and Satapathy, Ashutosh and LGX, Agnel Livingston and LM, Merlin Livingston},
  booktitle={Opportunities and Challenges for Blockchain Technology in Autonomous Vehicles},
  pages={178--195},
  year={2021},
  publisher={IGI Global}
}
</pre></div>

</li>
</ul>

<h3 style="margin-bottom:0px;padding-top:10px;">Conference Proceedings</h3>
<ul class="biblist">

<!-- Item: satapathy2025drug -->
<li ><p>
A. Satapathy, M. K. Gandu and A. Parisa
<br><b>Drug Recommender System Based on Cost Minimization Technique for Customized Clinical Prescription</b><br>
<i>2025 7th International Conference on Signal Processing, Computing and Control (ISPCC)</i>,
IEEE,
pp. 1-7,
2025.
<br />
<a href="javascript:toggleBibtex('satapathy2025drug')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/11039574" target="_blank">[Read Online]</a>
</p>
<div id="bib_satapathy2025drug" class="bibtex noshow">
<pre>
@inproceedings{satapathy2025drug,
  title={Drug Recommender System Based on Cost Minimization Technique for Customized Clinical Prescription},
  author={Satapathy, Ashutosh and Gandu, Mahima Kumar and Parisa, Aslesha},
  booktitle={2025 7th International Conference on Signal Processing, Computing and Control (ISPCC)},
  pages={1--7},
  year={2025},
  organization={IEEE}
}
</pre></div>

</li>

<!-- Item: vallabhaneni2025classification -->
<li ><p>
P. Vallabhaneni, A. Satapathy and M. Indugula
<br><b>Classification of Tuberculosis Bacilli from Microscopic Sputum Smear Images Using Swin Transformer</b><br>
<i>2025 International Conference on Multi-Agent Systems for Collaborative Intelligence (ICMSCI)</i>,
IEEE,
pp. 1066-1074,
2025.
<br />
<a href="javascript:toggleBibtex('vallabhaneni2025classification')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10894569" target="_blank">[Read Online]</a>
</p>
<div id="bib_vallabhaneni2025classification" class="bibtex noshow">
<pre>
@inproceedings{vallabhaneni2025classification,
  title={Classification of Tuberculosis Bacilli from Microscopic Sputum Smear Images Using Swin Transformer},
  author={Vallabhaneni, Praneeth and Satapathy, Ashutosh and Indugula, Manisha},
  booktitle={2025 International Conference on Multi-Agent Systems for Collaborative Intelligence (ICMSCI)},
  pages={1066--1074},
  year={2025},
  organization={IEEE}
}
</pre></div>

</li>
	
<!-- Item: karedla2024intelligent -->
<li ><p>
G. S. H. Karedla, A. Satapathy, A. H. Shaik and S. S. Nallagondla
<br><b>An Intelligent Traffic Management System with Adaptive Traffic Light Control Based on Vehicle Density Estimation</b><br>
<i>2024 4th International Conference on Mobile Networks and Wireless Communications</i>,
IEEE,
pp. 1-8,
2024.
<br />
<a href="javascript:toggleBibtex('karedla2024intelligent')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10872033" target="_blank">[Read Online]</a>
</p>
<div id="bib_karedla2024intelligent" class="bibtex noshow">
<pre>
@inproceedings{karedla2024intelligent,
  title={An Intelligent Traffic Management System with Adaptive Traffic Light Control Based on Vehicle Density Estimation},
  author={Karedla, Gopi Sri Harsha and Satapathy, Ashutosh and Shaik, Altaf Hussain and Nallagondla, Sai Sowrabh},
  booktitle={2024 4th International Conference on Mobile Networks and Wireless Communications (ICMNWC)},
  pages={1--8},
  year={2024},
  organization={IEEE}
}
</pre></div>

</li>

<!-- Item: rao2024design -->
<li ><p>
D. R. Rao, K. Thottempudi, B. K. Surla and A. Satapathy
<br><b>Design and Evaluation of a Medical Chatbot Built on BERT Language Model for Remote Health Assistance</b><br>
<i>2024 3rd International Conference for Innovation in Technology</i>,
IEEE,
pp. 1-7,
2024.
<br />
<a href="javascript:toggleBibtex('rao2024design')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10511493" target="_blank">[Read Online]</a>
</p>
<div id="bib_rao2024design" class="bibtex noshow">
<pre>
@inproceedings{rao2024design,
  title={Design and Evaluation of a Medical Chatbot Built on BERT Language Model for Remote Health Assistance},
  author={Rao, D Rajeswara and Thottempudi, Kokila and Surla, Bharath Kumar and Satapathy, Ashutosh},
  booktitle={2024 3rd International Conference for Innovation in Technology (INOCON)},
  pages={1--7},
  year={2024},
  organization={IEEE}
}
</pre></div>

</li>
<!-- Item: satapathy2024multiclass -->
<li ><p>
A. Satapathy, N. Duda, J. Machcha and K. Thottempudi
<br><b>A Multiclass Semi-Supervised Deep Convolutional Generative Adversarial Network for Music Genre Classification Using Mel-Frequency Cepstral Coefficients</b><br>
<i>2024 International Conference on Intelligent and Innovative Technologies in Computing, Electrical and Electronics</i>,
IEEE,
pp. 1-6,
2024.
<br />
<a href="javascript:toggleBibtex('satapathy2024multiclass')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10467652" target="_blank">[Read Online]</a>
</p>
<div id="bib_satapathy2024multiclass" class="bibtex noshow">
<pre>
@inproceedings{satapathy2024multiclass,
  title={A Multiclass Semi-Supervised Deep Convolutional Generative Adversarial Network for Music Genre Classification Using Mel-Frequency Cepstral Coefficients},
  author={Satapathy, Ashutosh and Duda, Neelima and Machcha, Jaswanthi and Thottempudi, Kokila},
  booktitle={2024 International Conference on Intelligent and Innovative Technologies in Computing, Electrical and Electronics (IITCEE)},
  pages={1--6},
  year={2024},
  organization={IEEE}
}
</pre></div>

</li>
<!-- Item: varsha2023automatic -->
<li ><p>
G. Varsha, A. Satapathy, G. Harshini and M. Komali
<br><b>Automatic Rain Alert and Protection System for Harvested Crops using IoT</b><br>
<i>8th International Conference on Communication and Electronics Systems</i>,
IEEE,
pp. 408-414,
2023.
<br />
<a href="javascript:toggleBibtex('varsha2023automatic')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10192781" target="_blank">[Read Online]</a>
</p>
<div id="bib_varsha2023automatic" class="bibtex noshow">
<pre>
@inproceedings{varsha2023automatic,
  title={Automatic Rain Alert and Protection System for Harvested Crops using IoT},
  author={Varsha, Gudise and Satapathy, Ashutosh and Harshini, Grandhe and Komali, Madala},
  booktitle={2023 8th International Conference on Communication and Electronics Systems (ICCES)},
  pages={408--414},
  year={2023},
  organization={IEEE}
}
</pre></div>

</li>

<!-- Item: jandhyala2023detection -->
<li ><p>
S. S. Jandhyala, A. Satapathy, S. H. Saitaj and L. Niharika
<br><b>Detection of Fruit from an Image Using a Single-Shot Detector for Accurate Calorie Estimation</b><br>
<i>International Conference on Sustainable Computing and Data Communication Systems </i>,
IEEE,
pp. 633-638,
2023.
<br />
<a href="javascript:toggleBibtex('jandhyala2023detection')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10105073" target="_blank">[Read Online]</a>
</p>
<div id="bib_jandhyala2023detection" class="bibtex noshow">
<pre>
@inproceedings{jandhyala2023detection,
  title={Detection of Fruit from an Image Using a Single-Shot Detector for Accurate Calorie Estimation},
  author={Jandhyala, Sravya Sri and Satapathy, Ashutosh and Saitaj, Shaik Hussain and Niharika, Lanka},
  booktitle={2023 International Conference on Sustainable Computing and Data Communication Systems (ICSCDS)},
  pages={633--638},
  year={2023},
  organization={IEEE}
}
</pre></div>

</li>

<!-- Item: jahnavi2023comparative -->
<li ><p>
MVSL Jahnavi, A. Satapathy, Ch. Lokesh and P. B. Likhitha
<br><b>A Comparative Performance Evaluation of Machine Learning Approaches for Spectrogram-based Music Genre Classification</b><br>
<i>3rd International Conference on Technology, Engineering, Management for Societal impact using Marketing, Entrepreneurship and Talent</i>,
IEEE,
pp. 1-7,
2023.
<br />
<a href="javascript:toggleBibtex('jahnavi2023comparative')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/10150176" target="_blank">[Read Online]</a>
</p>
<div id="bib_jahnavi2023comparative" class="bibtex noshow">
<pre>
@inproceedings{jahnavi2023comparative,
  title={A Comparative Performance Evaluation of Machine Learning Approaches for Spectrogram-based Music Genre Classification},
  author={Jahnavi, MVSL and Satapathy, Ashutosh and Lokesh, Ch and Likhitha, P Baby},
  booktitle={2023 IEEE 3rd International Conference on Technology, Engineering, Management for Societal impact using Marketing, Entrepreneurship and Talent (TEMSMET)},
  pages={1--7},
  year={2023},
  organization={IEEE}
}
</pre></div>

</li>
	
<!-- Item: jaswanthi2022hybrid -->
<li ><p>
R. Jaswanthi, E. Amruthatulasi, Ch. Bhavyasree and A. Satapathy
<br><b>A Hybrid Network Based on GAN and CNN for Food Segmentation and Calorie Estimation</b><br>
<i>International Conference on Sustainable Computing and Data Communication Systems</i>,
IEEE,
pp. 436-441,
2022.
<br />
<a href="javascript:toggleBibtex('jaswanthi2022hybrid')">[BibTeX]</a>
<a href= "https://ieeexplore.ieee.org/abstract/document/9760831" target="_blank">[Read Online]</a>
</p>
<div id="bib_jaswanthi2022hybrid" class="bibtex noshow">
<pre>
@inproceedings{jaswanthi2022hybrid,
  title={A Hybrid Network Based on GAN and CNN for Food Segmentation and Calorie Estimation},
  author={Jaswanthi, R and Amruthatulasi, E and Bhavyasree, Ch and Satapathy, Ashutosh},
  booktitle={2022 International Conference on Sustainable Computing and Data Communication Systems (ICSCDS)},
  pages={436--441},
  year={2022},
  organization={IEEE}
}
</pre></div>

</li>
	
</ul>
	    
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
